<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeAppKotlin"
        tools:targetApi="31">
        <activity android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <!-- MAIN action to indicate it's the starting point of the app -->
                <action android:name="android.intent.action.MAIN" />

                <!-- LAUNCHER category to indicate it's the activity that launches -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"
            android:theme="@style/DetailActivityTheme">
        </activity>
        <activity android:name=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LikedRecipesActivity" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>